.link {
  color: rgb(40, 30, 30);
  font-size: 26px;
  text-decoration: none;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.active {
  text-decoration: underline;
}
.navwrapper {
  max-width: 1440px;
  background-color: beige;
}
